* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 80%;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0.2em;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  outline: none;
  align-items: center;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.error {
  border: 1px solid #ff0000;
}

.error-message {
  color: #ff0000;
}

.error-success {
  color: green;
}

.nav {
  background-color: #ed2b32;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__container ul li {
  padding: 1em;
  font-size: 1rem;
}
.nav__container ul li:last-child {
  display: none;
}
.nav__container ul a {
  color: #000;
  padding: 1em;
}
.nav__container ul a:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 1530px) {
  .nav ul li:not(:last-child) {
    display: none;
  }
  .nav ul li:last-child {
    display: block;
  }
}
@media screen and (max-width: 1330px) {
  .nav ul li:not(:last-child) {
    display: none;
  }
  .nav ul li:last-child {
    display: block;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.hero__container form {
  width: 100%;
  font-size: 0;
}
.hero__container input {
  padding: 2em;
  border: none;
  outline: none;
  width: 80%;
}
.hero__container button {
  padding: 2em 0;
  width: 20%;
  background-color: #ff0000;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hero__container__left--search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 4px solid #f4f7fb;
  padding-left: 1em;
}
.hero__container h1 {
  font-size: 4rem;
  color: #ff0000;
}
.hero__container p {
  color: #fff;
  padding-bottom: 2em;
}
.hero__right {
  padding-left: 5em;
  padding-top: 5em;
}
.hero__red {
  color: #fff;
}

.services__red {
  color: #ff0000;
}
.services p {
  margin-top: 2em 0;
  text-align: center;
  font-size: 1.5rem;
}
.services h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.services__container {
  padding: 2em;
}
.services__container button {
  padding: 1em;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.services__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.services__box--stats {
  color: white;
  margin-top: 3em;
  margin-right: 3em;
  border: 1px solid #fff;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .services__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .services__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.footer {
  background-color: white;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1400px) {
  .footer__section {
    width: 23%;
  }
}
@media screen and (max-width: 800px) {
  .footer__section {
    width: 100%;
  }
}
.form form {
  background: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3em;
  margin: 0 auto;
  border-radius: 10px;
}
.form h2 {
  color: red;
  border-bottom: 2px solid grey;
}
.form__container {
  padding: 5em;
  margin-top: 5em;
  border-radius: 5px;
}
.form__container div {
  padding: 0.5em;
  font-size: 2rem;
}
.form__container input {
  padding: 1em;
  outline: none;
  background-color: aliceblue;
  border-radius: 5px;
  width: 100%;
}

.sign form {
  background: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3em;
  margin: 0 auto;
}
.sign p {
  color: #fff;
}
.sign p a {
  color: #ff0000;
}
.sign__container {
  margin-top: 5em;
  text-align: center;
  border-radius: 5px;
}
.sign__container div {
  padding: 0.5em;
  font-size: 2rem;
}
.sign__container input {
  padding: 1em;
  outline: none;
}

.signin form {
  background: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3em;
  margin: 0 auto;
}
.signin p {
  color: #fff;
}
.signin p a {
  color: #ff0000;
}
.signin__container {
  padding: 2em;
  margin-top: 5em;
  text-align: center;
}
.signin__container div {
  padding: 0.5em;
}
.signin__container input {
  padding: 1em;
  outline: none;
}
.signin__box {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background-color: white;
  padding: 2em;
  margin: 0 auto;
}

.bmw__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3em;
  margin: 2em;
}
.bmw p {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
.bmw h3 {
  text-align: center;
  color: #fff;
}
.bmw__props {
  padding-top: 2em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border: 5px solid #fff;
}
.bmw__properties {
  border-bottom: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  line-height: 2;
}
.bmw__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  border-bottom: 5px solid #fff;
}
.bmw li {
  text-align: center;
  color: #fff;
}
.bmw__img {
  color: #fff;
}

.wagen__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3em;
  margin: 2em;
}
.wagen p {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
.wagen h3 {
  text-align: center;
  color: #fff;
}
.wagen__props {
  border: 5px solid #fff;
}
.wagen__properties {
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  line-height: 2;
}
.wagen__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  color: #fff;
  border: 5px solid #fff;
}
.wagen li {
  text-align: center;
  color: #fff;
}
.wagen_img {
  color: #fff;
}

.benz__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3em;
  margin: 2em;
}
.benz p {
  text-align: center;
  font-size: 2rem;
}
.benz h3 {
  text-align: center;
  color: #fff;
}
.benz__props {
  border: 5px solid #fff;
}
.benz__properties {
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}
.benz__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  color: #fff;
  border: 5px solid #fff;
}
.benz li {
  text-align: center;
  color: #fff;
}