@use"../utilities/variables"as *;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 80%;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    padding:.2em;
    background-color: $red;
    color: $white;
    border-radius: 5px;
    outline: none;
    align-items: center;
    
}
body{
    background-color: black;
    font-family: $font;
}

// For JS
.error{
    border: 1px solid $red;
}

.error-message{
    color: $red;

}
.details-success{
    // color:green;
}
