@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.footer {
  background-color: white;
  &__container {
    @include flex(space-between, center);
  }
}
// Tablet

@media screen and (max-width:1400px){
    .footer{
        &__section{
            width: 23%;
        }
    }
}

// Mobile
@media screen and (max-width:800px){
    .footer{
        &__section{
            width: 100%;
        }
    }
}