@use"../utilities/variables" as *;
@use"../utilities/mixins" as *;
.hero{
    &__container{
        @include flex(space-between,center);
        
        form{
            width: 100%;
            font-size: 0;
        }
        input{
            padding: 2em;
            border: none;
            outline: none;
            width: 80%;
        }
        button{
            padding: 2em 0;
            width: 20%;
            background-color: $red;
            color: $white;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

        }
    &__left{
        &--search{
            @include flex(space-between,center);
            border: 4px solid $light-gray;
            padding-left: 1em
            
        }
    }
    
    h1{
        font-size: 4rem;
        color: $red;
    }
    p{
        color: #fff;
        padding-bottom: 2em;
    }
    
    
}
&__right{
    padding-left: 5em;
    padding-top: 5em;
}
&__red{
    color: $white;
}
}


// Media queries
// Tablet
@media screen and (max-width:1450px){
    .hero{
        &__container{
            @include flex(space-between,center);
            flex-wrap: wrap;
        }
        h1{
font-size: 3rem;
        }
        p{
font-size: 1rem;
        }
    
    }
}


// mobile
@media screen and (max-width:1000px){
    .hero{
        &__container{
            @include flex(space-between,center);
            flex-wrap: wrap;
        }
        h1{
font-size: 3rem;
        }
        p{
font-size: 1rem;
        }
    
    }
}