
.nav{
background-color:red;
&__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li{
           padding: 0 4em ; 
           color: black;
           
        }
        a{
            color: black;
&:hover{
background-color: white;
color:black;
padding: 1em;
}
        } 
    }
}
p{
    font-size: 3rem;
}
}
