@use"../utilities/variables"as *;
@use"../utilities/mixins" as *;
.nav{
background-color:#ed2b32;
&__container{
    @include flex(space-between,center);
    ul{
        @include flex(space-between,center);
        li {
            padding: 1em;
            font-size: 1rem;
            

            &:last-child{
              display: none;
            }
          }
            
            a {
              color:$black;
              padding: 1em;
      
              &:hover {
                background-color:$white;
                color:$black;
              }
            }
          }
    }
}

// Tablet
@media screen and (max-width:1530px){
  .nav{
      ul{
          li{
              &:not(:last-child){
                  display: none;
              }
              &:last-child{
                  display: block;
              }
          }
      }
  }
}
// mobile
@media screen and (max-width:1330px){
  .nav{
      ul{
          li{
              &:not(:last-child){
                  display: none;
              }
              &:last-child{
                  display: block;
              }
          }
      }
  }
}
