 @use"../utilities/variables"as *;
 .form{
    h2{
        color: red;
        border-bottom: 2px solid grey;
    }
    // background-color: black;
    &__container{
        padding: 2em;
        margin-top: 5em;
        background-color:$light-gray;
        div{
            padding: .5em;
            font-size:2rem ;
        }
        input{
            padding: 1em;
            outline: none;
        }
        border-radius: 5px;
    }
}