 @use"../utilities/variables"as *;
 .form{

    form{
        background: white;
        width: fit-content;
        padding: 3em;
        margin: 0 auto;
        border-radius: 10px;
    }
    h2{
        color: red;
        border-bottom: 2px solid grey;
    }
    
    &__container{
        padding: 5em;
        margin-top: 5em;
        // background-color:$white;
        div{
            padding: .5em;
            font-size:2rem ;
        }
        input{
            padding: 1em;
            outline: none;
            background-color: aliceblue;
            border-radius: 5px;
            width: 100%;
        }
        border-radius: 5px;
    }
}

// media quaries
// tablet
@media screen and (max-width:1250px){
    .form{
        form{
            padding:1em;
        }
    }
    }
// mobile
    @media screen and (max-width:558px){
        .form{
            form{
                padding:1em;
            }
        }
        }