@use"../utilities/variables"as *;
@use"../utilities/mixins"as *;
.sign{
    // background-color: aqua;
    form{
        background: white;
        width: fit-content;
        padding: 3em;
        margin: 0 auto;
        
    }
    p{
        color:$white;

        a{
            color: $red;
        }
    }
    &__container{
        margin-top: 5em;
        text-align: center;
        div{
            padding: .5em;
            font-size:2rem ;
        }
        input{
            padding: 1em;
            outline: none;
        }
        // border-radius: 5px;
        
    }
}
// MEDIA  quaries
// mobile
@media screen and (max-width:900px){
.sign{
    form{
        padding:1em;
    }
}
}
// tablet
@media screen and (max-width:1400px){
    .sign{
        form{
            padding:1em;
        }
    }
    }