@use"../utilities/variables" as *;
@use"../utilities/mixins"as *;
.signin{
    form{
        background: white;
        width: fit-content;
        padding: 3em;
        margin: 0 auto;
    }
    p{
        color: $white;

        a{
            color: $red;
        }
    }
    &__container{
        padding: 2em;
        margin-top: 5em;
        text-align: center;
        div{
            padding: .5em;
        }
        input{
            padding: 1em;
            outline: none;
        }
    }
    &__box{
        width:fit-content;
        border-radius: 5px;
        background-color: white;
        padding: 2em;
        margin: 0 auto;
    }
}